DATABASE_URL=postgresql://<user>:<password>@localhost/<dbname>
OLLAMA_BASE_URL=http://localhost:11434
CLERK_SECRET_KEY=your_clerk_secret_key
CLERK_JWKS_URL=your_clerk_jwks_url
ALLOWED_ORIGINS=allowlist_of_origins_comma_separated